

            <div class="navbar-inverse" role="navigation">
                <div class="sidebar-nav navbar-left">
                    <div class="col-lg-2"></div>
                    <ul class="nav" id="side-menu">
                        <li>
                            <a asp-action="Dashboard" asp-controller="First"><i class="glyphicon glyphicon-home"></i> Home</a>
                        </li>
                        <li>
                            <a asp-action="RegisterUser" asp-controller="First"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
                        </li>
                        <li>
                            <a><b>Categories and Items</b></a>
                            @*<ul class="nav nav-second-level">*@
                        <li>
                            <a asp-action="ViewAllCategory" asp-controller="First"><i class="glyphicon glyphicon-list"></i> Categories</a>

                            @*<a href="/first/ViewAllCategory" class="glyphicon glyphicon-list"> Categories</a>*@
                        </li>
                        <li>
                            <a asp-action="ViewAllItems" asp-controller="First"><i class="glyphicon glyphicon-th"></i> Items</a>

                            @*<a href="/First/ViewAllItems" class="glyphicon glyphicon-th"> Items</a>*@
                        </li>
                        @* </ul> *@
                        <!-- /.nav-second-level -->
                        @*<ul class="nav" id="side-menu">*@
                        <li>
                            <a><b>Forms</b></a>
                            @*<ul class="nav nav-second-level">*@
                        </li>
                        <li>
                            <a asp-action="AddNewItem" asp-controller="First"><i class="glyphicon glyphicon-list-alt"></i> Add new Item</a>

                        </li>

                        <li>
                            <a asp-action="AddNewCategory" asp-controller="First"><i class="glyphicon glyphicon-list-alt"></i> Add new Category</a>

                            @*<a href="/First/AddNewCategory">Add Category</a>*@
                        </li>
                        @*  </ul>*@

                        @*<ul class="nav" id="side-menu">*@

                        <li>
                            <a asp-action="Logout" asp-controller="First"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                        </li>
                        </ul>
</div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
       

        